<% content_for :title, "Editing foodtruck" %>


<div class="p-5">
  <!-- Top Section with Heading and Icon -->
  <div class="mb-4">
    <h2 class="fw-bold text-dark d-flex align-items-center justify-content-center">
      <i class="bi bi-truck me-2"></i> Food Trucks - Edit Truck Information
    </h2>
    <hr class="my-4">
  </div>

<%= render "form", foodtruck: @food_truck %>


