<% content_for :title, "New Food Truck Application" %>

<div class="d-flex justify-content-center align-items-center bg-white" >
  <div class="container">
    <div class="card shadow-lg" style="max-width: 50rem; margin: auto;">
      <div class="card-header bg-primary text-white text-center">
        <h1 class="mb-0">New Food Truck</h1>
      </div>

      <div class="card-body">
        <%= render 'form', event: @event, food_truck: @food_truck %>
      </div>

      <div class="card-footer text-center">
        <%= link_to 'Back to Foodtrucks', food_trucks_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>
