<% content_for :title, "Creating event" %>

<div class="p-5">
  <!-- Header Section with Heading -->
  <div class="mb-4">
    <h2 class="fw-bold text-dark d-flex align-items-center justify-content-center">
      <i class="bi bi-pencil-square me-2"></i> Events - Create New Event
    </h2>
    <hr class="my-4">
  </div>

<%= render "form", event: @event %>


