<h1>Welcome to the Event Platform</h1>

<div>
  <h2>Sign Up As:</h2>
  
  <div>
    <%= link_to "Food Truck Owner", new_foodtruck_owner_registration_path, class: "button" %>
  </div>
  
  <div>
    <%= link_to "Event Organizer", new_event_organizer_registration_path, class: "button" %>
  </div>
</div>

